<!DOCTYPE html>
<html>
  <head>
    <title>メモ作成</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand"><img class="navbar-icon" src="/images/icon_memo.svg">メモアプリ</a>
    </nav>
    <div class="contents">
      <h3 class="border-bottom border-dark">メモ作成</h3>
      <form action="/posts" method="post">
        <div class="form-group">
          <label for="memo">内容</label>
          <textarea class="form-control" name="memo" id="memo" rows="20" placeholder="Markdown形式で入力できます" required></textarea>
        </div>
        <div class="form-buttons">
          <input class="btn btn-primary form-button" type="submit" value="保存" />
        </div>
      </form>
    </div>
  </body>
</html>