<!DOCTYPE html>
<html>
  <head>
    <title>メモアプリ</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand"><img class="navbar-icon" src="/images/icon_memo.svg">メモアプリ</a>
    </nav>
    <div class="action-alert">
      <% if action == "deleted" then %>
        <div class="alert alert-primary" role="alert">メモを削除しました</div>
      <% end %>
    </div>
    <div class="contents">
      <button type="button" class="btn btn-primary form-button" onclick="location.href='./posts/new'">新しいメモを書く</button>
      <% if names.size > 0 then %>
        <section class="memo-list-area">
          <h5>メモ一覧</h5>
          <ul class="list-group memo-list">
            <% names.each do |item| %>
              <li class="list-group-item"><a href=<%= "/posts/#{item}" %>>メモ <%= item %></a></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </div>
  </body>
</html>