<!DOCTYPE html>
<html>
  <head>
    <title>Top</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body>
    <% if action == "deleted" then %>
      <div class="alert alert-primary" role="alert">メモを削除しました</div>
    <% end %>
    <h1>メモアプリ</h1>
    <button type="button" onclick="location.href='./posts/new'">追加</button>
    <ul>
      <% names.each do |item| %>
        <li><a href=<%= "/posts/#{item}" %>><%= item %></a></li>
      <% end %>
    </ul>
  </body>
</html>