<!DOCTYPE html>
<html>
  <head>
    <title>Top</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand"><img class="navbar-icon" src="/images/icon_memo.svg">メモアプリ</a>
    </nav>
    <% if action == "deleted" then %>
      <div class="alert alert-primary" role="alert">メモを削除しました</div>
    <% end %>
    <div class="contents">
      <button type="button" class="btn btn-primary add" onclick="location.href='./posts/new'"><img class="add" src="/images/icon_add.svg">メモを書く</button>
      <ul class="list-group memo-list">
        <% names.each do |item| %>
          <li class="list-group-item"><a href=<%= "/posts/#{item}" %>><%= item %></a></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>