.contents {
  padding: 16px 16px 16px 16px;
}

.navbar-icon {
  width: 64px;
  height: 64px;
  background-color: #fff;
  padding: 12px;
  margin: 0px 16px 0px 16px;
  border-radius: 3px;
}

.form-buttons {
  display: flex;
  margin: 16px 0px 16px 0px;
}

.form-button {
  width: 160px;
  margin-right: 16px;
}

.memo-list-area {
  margin: 32px 0px 16px 0px;
}

.memo-list {
  margin: 16px 0px 16px 0px;
}

.memo-body {
  margin: 32px 0px 32px 0px;
}